@model IEnumerable<Shared.Models.WebsiteInfo>

@{
    ViewData["Title"] = "Search results";
}


<div>

    @{ await Html.RenderPartialAsync("_InputSearchPartial", ViewData["SearchedContent"]); }

</div>

<h2>Search results for @ViewData["SearchedContent"]</h2>

@foreach (var item in Model)
{

    <div class="row">

        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Title)
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            @Html.DisplayFor(modelItem => item.DescriptionMeta)
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            @Html.RouteLink(item.Url, null)
        </div>

        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.CreateDate)
        </div>

    </div>
}
