@model Shared.DTOs.SearchResultDto

@{
    ViewData["Title"] = "Search results";
}


<div>

    @{ await Html.RenderPartialAsync("_SearchNavbarPartial", ViewData["SearchedContent"]); }

</div>

<div class="container body-content">

    <h4 class="search-for-somth mb-4">Search results for @Model.SearchMetadata.SearchedContent - Found @Model.SearchMetadata.Total results in @Model.SearchMetadata.Took ms</h4>
    <hr />

    @foreach (var result in Model.SearchHits)
    {
        <div class="result-card px-2 py-2 mb-4">

            <div class="row">

                <div class="col-md-12">
                    <h5 class="overflowed-text mb-0">
                        @Html.DisplayFor(modelItem => result.Title)
                    </h5>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="overflowed-text">
                        @Html.DisplayFor(modelItem => result.DescriptionMeta)
                    </div>
                </div>

            </div>

            <div class="row mb-1">

                <div class="col-md-10">
                    <a href="@result.Url">
                        <div class="overflowed-text">
                            @result.Url
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    @* @Html.DisplayFor(modelItem => result.Source.CreateDate) *@
                </div>

            </div>
            @if (result.Highlights.Count > 0)
            {
                @foreach (var highlight in result.Highlights)
                {

                    <div class="col-md-12 p-0">

                        @Html.Raw(highlight)

                    </div>

                }
            }

        </div>
    }

    <nav aria-label="Navigate through search results ">
        <ul class="pagination justify-content-left mt-5 pt-2 pagination-md">

            <li class="page-item @(@Model.SearchPagination.Page == 1 ? "disabled" : "")">
                @Html.ActionLink("Previous", Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                    new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page - 1), new { @class = "page-link" })
            </li>

            @if (Model.SearchPagination.Page > 1)
            {
                <li class="page-item">
                    @Html.ActionLink((Model.SearchPagination.Page - 1).ToString(), Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                        new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page - 1), new { @class = "page-link" })
                </li>
            }

            <li class="page-item active">
                @Html.ActionLink(Model.SearchPagination.Page.ToString(), Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                    new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page), new { @class = "page-link" })
            </li>

            <li class="page-item">
                @Html.ActionLink((Model.SearchPagination.Page + 1).ToString(), Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                    new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page + 1), new { @class = "page-link" })
            </li>

            @if (Model.SearchPagination.Page == 1)
            {
                <li class="page-item">
                    @Html.ActionLink((Model.SearchPagination.Page + 2).ToString(), Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                        new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page + 2), new { @class = "page-link" })
                </li>
            }

            <li class="page-item">
                @Html.ActionLink("Next", Model.SearchMetadata.SearchedContent.IsAdvancedSearch ? "AdvancedResults" : "Results",
                    new SearchContentDTO(Model.SearchMetadata.SearchedContent, Model.SearchPagination.Page + 1), new { @class = "page-link" })
            </li>
        </ul>
    </nav>

</div>